[Unit]
Description=Start mpv

[Install]
WantedBy=default.target

[Service]
Type=exec
; CONNECTED should probably be changed at HUFO
Environment="CONNECTED=HDMI-A-1"
Environment="SOCKET=/tmp/mpvsocket"
Environment="PLAYLIST=%h/videos/playlist.txt"
ExecStart=/usr/local/bin/start-mpv.sh
Restart=always
