[Unit]
Description=Start UDP bridge
After=mpv.service
After=network.target
Requires=mpv.service

[Install]
WantedBy=default.target

[Service]
Type=exec
ExecStart=/usr/local/bin/udp-bridge.py
RestartMode=always
; Environment="UDP_BRIDGE_MPV_SOCKET=/tmp/mpvsocket"
; Environment="UDP_BRIDGE_BLANK_PATH=media/blank.mp4"
; Environment="UDP_BRIDGE_UDP_IP=0.0.0.0"
; Environment="UDP_BRIDGE_UDP_PORT=9000"
; Environment="UDP_BRIDGE_BUFFER_SIZE=4096"
