[Unit]
Description=Start UDP bridge
After=mpv.service
After=network.target
Requires=mpv.service

[Install]
WantedBy=default.target

[Service]
Type=simple
; due to some bug, it doesn't actually fill in the env variables
; that's why we just hardcode them for now
; Environment=UDP_BRIDGE_UDP_PORT=9000
; Environment=UDP_BRIDGE_SOCKET_PATH=/tmp/mpvsocket
ExecStart=socat UDP4-RECVFROM:9000,broadcast,fork,reuseaddr UNIX-CONNECT:/tmp/mpvsocket
RestartMode=always
